<button class="new-todo__create" {{action "toggleIsOpen"}} type="button">
  {{svg-jar "plus" fill="currentColor" width="24px" height="24px"}}
  <span class="screen-reader-only">New To-Do</span>
</button>

<div class="new-todo__scrim"></div>
<form class="new-todo__form" onsubmit={{action "addTodo"}}>
  {{#animated-beacon name="add"}}
    <div class="new-todo__fields">
      <label class="new-todo__label" for="new-todo">Add a New To-Do Item</label>

      {{input
        class="new-todo__input"
        id="new-todo"
        type="text"
        name="name"
        placeholder="Add a New To-Do Item"
        value=title
      }}

      <label class="new-todo__label" for="new-todo-date">Due Date</label>

      {{input
        class="new-todo__input"
        id="new-todo-date"
        type="date"
        name="date"
        placeholder="Due Date"
        value=dueDate
      }}
    </div>
  {{/animated-beacon}}

  <input class="new-todo__save" type="submit" value="Save To-Do">
</form>
