<div class="todo-item__wrapper">
  <button class="todo-item__completed" type="button" onclick={{action "toggleTodoCompleted"}}>
    {{svg-jar "check" fill="#fff" height="24" width="24"}}
    <span class="screen-reader-only">Complete Task</span>
  </button>
  {{#if isEditing}}
    <label>
      <span class="screen-reader-only">ToDo Title</span>
      {{input
        class="todo-item__field todo-item__title"
        id=(concat "title-" todo.uid)
        type="text"
        value=changeset.title
      }}
    </label>
    <label>
      <span class="screen-reader-only">Due Date</span>
      {{input
        class="todo-item__field todo-item__due-date"
        id=(concat "due-date-" todo.uid)
        type="date"
        value=changeset.dueDate
      }}
    </label>
  {{else}}
    <p class="todo-item__title">{{todo.title}}</p>
    <p class="todo-item__due-date">{{moment-format todo.dueDate "MMM D, YYYY"}}</p>
  {{/if}}
  <div class="todo-item__actions">
    {{#if isEditing}}
      <button class="todo-item__action todo-item__action--save" {{action "editTodo"}}>
        {{svg-jar "save" stroke="currentColor" width="12" height="12"}}
        <span class="screen-reader-only">Save</span>
      </button>

      <button class="todo-item__action todo-item__action--cancel" {{action "disableEditing"}}>
        {{svg-jar "close" stroke="currentColor" width="12" height="12"}}
        <span class="screen-reader-only">Cancel</span>
      </button>
    {{else}}
      <button class="todo-item__action todo-item__action--edit" {{action "enableEditing"}}>
        {{svg-jar "edit" stroke="currentColor" width="12" height="12"}}
        <span class="screen-reader-only">Edit</span>
      </button>

      <button class="todo-item__action todo-item__action--delete" {{action "deleteTodo"}}>
        {{svg-jar "trash" stroke="currentColor" width="12" height="12"}}
        <span class="screen-reader-only">Delete</span>
      </button>
    {{/if}}
  </div>
</div>
